<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %> 
  <link rel="stylesheet" href="./style/home.css">
</head>
<body>
  <%- include('templates/header') %> 
    <main>
      <div class="top-content">
        <div class="top-title"> <%= post.title %> </div>
        <div class="top-author"> <span><%= post.author %></span>  <span><%= post.date %></span> </div>
        <div class="top-content"> <%= post.content %></div>
      </div>

      <div class="comment-section">
        <section id="comments">
          <p>
            This post might have comments. You can load them if you want to view
            them.
          </p>
          <button id="load-comments-btn" class="btn btn-alt" data-postid="<%= post._id %>">Load Comments</button>
        </section>
        <section id="comments-form">
          <h2>Leave a comment</h2>
          <form data-postid="<%= post._id %>">
            <div class="form-control">
              <label for="title">Comment title</label>
              <input type="text" id="title" name="title" required />
            </div>
            <div class="form-control">
              <label for="text">Your comment</label>
              <textarea name="text" id="text" rows="3" required></textarea>
            </div>
            <button class="btn">Save Comment</button>
          </form>
        </section>
      </div>
    </main>
</body>
</html>